@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<style>
    body {
        text-align: center;
        font-family: 'Segoe UI', Arial, sans-serif;
    }
    .p{
        color: #555;
    }

</style>